body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.test {
  text-align: center;
  padding: 0;
  margin: 0;

  &__box {
    margin: 0;
  }
}

.main {
  text-align: center;

  &__menu {
    padding: 0;
    margin: 24px;
  }
}